.container {
    background: orange;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header header"
                         " menu content content"
                        " footer footer footer";
}

.header {
    background: red;
    height: 60px;
    grid-area: header;
}

.menu {
    background: silver;
    grid-area: menu;
}

.content {
    background: yellow;
    grid-area: content;
}

.footer {
    background: rgb(17, 109, 214);
    grid-area: footer;
}