.container {
    background: orange;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background: red;
    height: 60px;
}

.wrapper {
    background: green;
    flex-direction: row;
    display: flex;
}

.menu {
    background: silver;
    width: 30%;
    
}

.content {
    background-color: yellow;
    width: 70%;
}

.footer {
    background: rgb(17, 109, 214);
}